<!DOCTYPE html>
<html>
  <head>
    <title>Help | RoR</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Get help:
      <a href="http://www.google.com">help page</a>.
    </p>
  </body>
</html>