<!DOCTYPE html>
<html>
  <head>
    <title>Home | RoR</title>
  </head>
  <body>
    <h1>Static Homepage</h1>
    <p>
      This is the home page for my 
      <a href="http://www.gogole.com/">application</a>
    </p>
  </body>
</html>